body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 40px;
  
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .photo,
  .author {
    display: inline-block;
  
    vertical-align: middle;
  }
  
  .author {
    padding-left: 10px;
  }
  
  header img {
    width: 150px;
    height: 150px;
  
    border-radius: 50%;
  }
  
  .contacts img {
    height: 20px;
    margin-right: 5px;
  
    vertical-align: middle;
  }